{% extends 'base.html.twig' %}

{% block title %}
    Comments
{% endblock %}

{% block body %}
    {% include 'default/_paginator.html.twig' with {
        paginator: paginator,
        route_name: 'comments_index_paginated',
    } %}
    <div class="card w-100" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ xd.name }} {{ xd.surname }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ xd.created_at }}</h6>
            <p class="card-text">{{ xd.content }}</p>
        </div>
    </div>
    <h1>{{ 'comment.comments_add'|trans }}</h1>
    {% form_theme form with ['bootstrap_4_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}
    {{ form_start(form, { method: 'post', action: url('comments_add') }) }}
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />
    {{ form_end(form) }}
    {% if paginator.data is defined and paginator.data|length %}
            <div class="customMyApp offset-md-2">
            <div name="feed" class="col-7 offset-md-1">

                {% for row in paginator.data %}
                    <div class="card w-100" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ row.name }} {{ row.surname }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ row.created_at }}</h6>
                            <p class="card-text">{{ row.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
    {% else %}
        <div>
            List is empty!
        </div>
    {% endif %}

{% endblock %}