{#
    Default view for paginator.

    parameters:
        * `paginator` - paginator
        * `route_name` - route name
#}
{% if paginator.page > 1 %}
    {% set previous = (paginator.page - 1) %}
    <a href="{{ url(route_name, {'page': previous}) }}" title="{{ 'label.nav.prev'|trans }}">
        <button class="btn btn-outline-dark mb-2">
        {{ 'labels.nav.prev'|trans }}
        </button>
    </a>
{%  endif %}

{% if paginator.page < paginator.pages_number %}
    {% set next = (paginator.page + 1) %}
<a href="{{ url(route_name, {'page': next}) }}" title="{{ 'label.nav.next'|trans }}">
    <button class="btn btn-outline-dark mb-2">
    {{ 'label.nav.next'|trans }}
    </button>
</a>
    </button>
{% endif  %}